{% extends "epi/index.html" %}

{% block title %}Segurity EPI's{% endblock title %}

{% block content %}

{% if erro %}
<div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Preencha todos os campos!</strong>
</div>
{% endif %}

{% if equipamento %}
<form action="{% url 'atualizar_acao' equipamento.id %}" method="post">
    {% csrf_token %}
    <div class="form-group my-2">
        <label for="Equipamento">Equipamento</label>
        <input class="form-control" type="text" name="Equipamento" placeholder="Equipamento" value="{{ registro.equipamento }}">
    </div>
    
    <div class="form-group my-2">
        <label for="colaborador">Colaborador</label>
        <input class="form-control" type="text" name="colaborador" placeholder="Colaborador" value="{{registro.colaborador}}">
    </div>
    <div class="form-group my-2">
        <label for="data_emprestimo">Data do Empréstimo</label>
        <input class="form-control" type="date" name="data_emprestimo" placeholder="Data do Empréstimo" value="{{ registro.data_emprestimo|date:'d/m/Y' }}">
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Enviar">
    </div>
</form>
{% endif %}

<!-- Barra de Pesquisa -->
<form class="form-group my-2" method="get" style="width: 50%;">
    <input type="text" name="nome_item" placeholder="Pesquisar um EPI" value="{{ request.GET.nome_item }}" style="width: 100%;">
    <button type="submit" class="btn btn-primary btn-sm">Pesquisar</button>
</form>

<!-- Tabela com Itens do Banco de Dados -->
<div class="table-responsive">
    <table class="table table-bordered" style="width: 50%;">
        <thead>
            <tr>
                <th>Nome</th>
                <th>C.A.</th>
                <th>Validade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.equipamento }}</td>
                <td>{{ item.colaborador }}</td>
                <td>{{ item.data_emprestimo|date:'d/m/Y' }}</td>
                <td>
                    <a href="{% url 'atualizar_acao' item.id %}" class="btn btn-primary btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
