{% extends "epi/index.html" %}

{% block title %}Segurity EPI's{% endblock title %}

{% block content %}

{% if erro %}
<div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Preencha todos os campos!</strong>
</div>
{% endif %}

{% if equipamento %}
<form action="{% url 'atualizar_epi' equipamento.id %}" method="post">
    {% csrf_token %}
    <div class="form-group my-2">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" placeholder="Nome" value="{{ equipamento.nome }}">
    </div>
    
    <div class="form-group my-2">
        <label for="ca">C.A.</label>
        <input class="form-control" type="text" name="ca" placeholder="C.A." value="{{ equipamento.ca }}">
    </div>
    <div class="form-group my-2">
        <label for="validade">Validade</label>
        <input class="form-control" type="date" name="validade" placeholder="Validade" value="{{ equipamento.validade|date:'d/m/Y' }}">
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Enviar">
    </div>
</form>
{% endif %}

<!-- Barra de Pesquisa -->
<form class="form-group my-2" method="get" style="width: 50%;">
    <input type="text" name="nome_item" placeholder="Pesquisar um EPI" value="{{ request.GET.nome_item }}" style="width: 100%;">
    <button type="submit" class="btn btn-primary btn-sm">Pesquisar</button>
</form>

<!-- Tabela com Itens do Banco de Dados -->
<div class="table-responsive">
    <table class="table table-bordered" style="width: 50%;">
        <thead>
            <tr>
                <th style="text-align: center">Nome</th>
                <th style="text-align: center">C.A.</th>
                <th style="text-align: center">Validade</th>
                <th style="text-align: center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.ca }}</td>
                <td>{{ item.validade|date:'d/m/Y' }}</td>
                <td style="text-align: center;">
                    <a href="{% url 'atualizar_epi' item.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluir_epi' item.id %}" class="btn btn-danger btn-sm">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}



