{% extends "epi/index.html" %}

{% block title %}Segurity EPI's{% endblock title %}

{% block content %}
<div class="container" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; width: 300px;">
    <form action="/cadastrar_usuario/" method="post" class="registration-form">
        {% csrf_token %}
        <h2>Cadastro de Colaborador</h2>
        <div style="margin-bottom: 10px;">
            <label for="nome" style="display: inline-block; width: 70px;">Nome:</label>
            <input type="text" id="nome" name="nome" required style="width: calc(100% - 80px);">
        </div>
        <div style="margin-bottom: 10px;">
            <label for="cargo" style="display: inline-block; width: 70px;">Cargo:</label>
            <input type="text" id="cargo" name="cargo" required style="width: calc(100% - 80px);">
        </div>
        <div style="margin-bottom: 10px;">
            <label for="matricula" style="display: inline-block; width: 70px;">Matricula:</label>
            <input type="text" id="matricula" name="matricula" required style="width: calc(100% - 80px);">
        </div>
        <button class="btn btn-success" type="submit">Salvar</button>
    </form>
    {% if colaborador %}
    <ul>
        <li>Nome: {{ colaborador.nome }}</li>
        <li>Cargo: {{ colaborador.cargo }}</li>
        <li>Matricula: {{ colaborador.matricula }}</li>
    </ul>
    {% endif %}
</div>
{% endblock content %}

