{% extends "epi/index.html" %}
{% load static %}

{%block title %}Segurity EPI's{% endblock title %}

{% block content %}
<h1 style="text-align: center; margin-top: 20px; margin: 20px;font-family:Impact;">Bem-vindo a Segurity Epi's!</h1>
<img src="{% static 'img/epi_img.jpeg' %}" alt="capa" style="width: 100%; height: 100%;">

<p><b>Estamos felizes em tê-lo conosco. Nosso objetivo é tornar a gestão de EPIs mais eficiente e segura para você e sua equipe. Com nosso aplicativo, você pode:</b>

<ul>
    <li>Monitorar o uso e a distribuição de EPIs em tempo real.</li>
    <li>Gerenciar inventários de forma simples e intuitiva.</li>
    <li>Garantir a conformidade com as normas de segurança.</li>
    <li>Aumentar a segurança e a produtividade no local de trabalho.</li>
</ul>
Explore todas as funcionalidades e descubra como podemos ajudar a proteger o seu time. 
    Se precisar de ajuda, nossa equipe de suporte está sempre à disposição.</br></br>

<b>Obrigado por escolher a Segurity Epi's. Juntos, vamos construir um ambiente de trabalho mais seguro!</b></p>
{% endblock content %}