{% extends "epi/index.html" %}

{% block title %}Segurity EPI's{% endblock title %}

{% block content %}
<div class="container" style="text-align: left;">
    <h2>Relatório de Empréstimo</h2>
    
    <form method="get" style="width: 50%; margin-bottom: 20px;">
        <input type="text" name="nome_colaborador" placeholder="Pesquisar um Colaborador" value="{{ request.GET.nome_colaborador }}" style="width: 100%;">
        <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
    </form>
    
    <table class="table table-bordered table-sm" style="width: 100%;">
        <thead>
            <tr>
                <th>Equipamento</th>
                <th>Colaborador</th>
                <th>Data de Empréstimo</th>
                <th>Data de Previsão de Devolução</th>
                <th>Status</th>
                <th>Condições do Equipamento no Empréstimo</th>
                <th>Data de Devolução</th>
                <th>Observação na Devolução/Perda</th>
            </tr>
        </thead>
        <tbody>
            {% for acao in acoes %}
            <tr>
                <td>{{ acao.equipamento__nome }}</td>
                <td>{{ acao.colaborador__nome }}</td>
                <td>{{ acao.data_emprestimo }}</td>
                <td>{{ acao.previsao_devolucao }}</td>
                <td>{{ acao.status }}</td>
                <td>{{ acao.condicoes }}</td>
                <td>{{ acao.data_devolucao }}</td>
                <td>{{ acao.observacao }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Nenhum equipamento encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
