{% extends "epi/index.html" %}

{% block title %}Segurity EPI's{% endblock title %}

{% block content %}
<div class="container">
    <h2>Relatório de EPI</h2>
    
    <form method="get" style="width: 50%; margin-bottom: 20px;">
        <input type="text" name="nome" placeholder="Pesquisar um EPI" value="{{ request.GET.nome }}" style="width: 100%;">
        <button type="submit">Filtrar</button>
    </form>
    
    <table class="table table-bordered table-sm" style="width: 50%;">
        <thead>
            <tr>
                <th>Nome</th>
                <th>C.A.</th>
                <th>Validade</th>
            </tr>
        </thead>
        <tbody>
            {% for equipamento in equipamentos %}
            <tr>
                <td>{{ equipamento.nome }}</td>
                <td>{{ equipamento.ca }}</td>
                <td>{{ equipamento.validade }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum equipamento encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
