{% extends "epi/index.html" %}

{% block content %}

<div class="container" style="border: 2px solid #ccc; padding: 20px; border-radius: 5px; width: 400px; margin-top: 50px;">
    <form action="/registrar_acao/" method="post" class="registration-form">
      {% csrf_token %}
      <div style="margin-bottom: 20px;">
        <label for="equipamento">Equipamento</label><br>
        <input type="text" id="equipamento" name="equipamento" required style="width: 100%;">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="colaborador">Colaborador</label><br>
        <input type="text" id="colaborador" name="colaborador" required style="width: 100%;">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="dataemprestimo">Data do Empréstimo</label><br>
        <input type="date" id="dataemprestimo" name="data_emprestimo" required style="width: 100%;">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="previsaodevolucao">Data de Previsão Devolução</label><br>
        <input type="date" id="previsaodevolucao" name="previsaodevolucao" required style="width: 100%;">
      </div>
      <div class="status-bar" style="margin-bottom: 20px;">
        <label for="status-dropdown">Status</label><br>
        <select id="status-dropdown" name="status-dropdown" style="width: 100%;">
          <option value="emprestado">Emprestado</option>
          <option value="em-uso">Em Uso</option>
          <option value="fornecido">Fornecido</option>
          <option value="devolvido">Devolvido</option>
          <option value="danificado">Danificado</option>
          <option value="perdido">Perdido</option>
        </select>
      </div>
      <div style="margin-bottom: 20px;">
        <label for="condicoes">Condições do Equipamento no Emprestimo</label><br>
        <input type="text" id="condicoes" name="condicoes" required style="width: 100%;">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="datadevolucao">Data de Devolução</label><br>
        <input type="date" id="datadevolucao" name="data_devolucao" required style="width: 100%;">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="observacao">Observação na Devolução/Perda</label><br>
        <input type="text" id="observacao" name="observacao" required style="width: 100%;">
      </div>
      <button class="btn btn-success" type="submit">Salvar</button>
    </form>
  </div>
  

{% endblock content %}