{% load static %}
<header class="top-bar">
    <div class="left">
        <a href="/">Home</a>
    </div>
    <div class="right">
        {% if user.is_authenticated %}
            <span>Usuário: {{ colaborador.name }}</span>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <img src="{% static 'img\sorrindo.png' %}" alt="sorriso" style="max-width: 150px; height: auto;">
        {% endif %}
    </div>
</header>


