{% load static %}
<header class="top-bar">
    <div class="left">
        <a href="/">Home</a>
    </div>
    <div class="right">
        {% if user.is_authenticated %}
            <span>Usuário: {{ colaborador.name }}</span>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
           <b><a href="{% url 'login' %}">Login</a></b>
            <img src="{% static 'img/sorrindo_2.png' %}" alt="sorriso" style="border-radius: 50%; border: 2px solid #16079b;">
        {% endif %}
    </div>
</header>


