<div class="sidebar">
    <div class="accordion-item">
        <input type="checkbox" id="item1">
        <label for="item1" class="accordion-title">Equipamento</label>
        <div class="accordion-content">
            <a href="/cadastrar">Cadastrar Equipamento</a>
            <a href="/listar">Relatórios</a>
            <a href="/atualizar">Editar Equipamento</a>
        </div>
    </div>
    <div class="accordion-item">
        <input type="checkbox" id="item2">
        <label for="item2" class="accordion-title">Controle de EPI</label>
        <div class="accordion-content">
            <a href="/registrar_acao/">Registar Ação</a>
            <a href="/listar_acao">Relatórios</a>
        </div>
    </div>
    <div class="accordion-item">
        <input type="checkbox" id="item3">
        <label for="item3" class="accordion-title">Colaborador</label>
        <div class="accordion-content">
            <a href="/cadastrar_colaborador/">Cadastrar Colaborador</a>
            <a href="/listar_colaborador">Relatórios</a>
            <a href="/atualizar_colaborador">Editar Colaborador</a>
        </form>
        </div>
    </div>
</div>